.fixedPos {
    position: fixed;
}

#header-container {
    flex-direction: row;
}

#nav-left {
    top: 0;
    left: 20px;
}

#nav-right { 
    top: -55px;
    right: 20px;
}

.mass {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding-top: 33vh;
}

.fontLora {
    font-family: 'Lora', serif;
}

.fontCinzel {
    font-family: 'Cinzel', serif;
}

.fontQuicksand {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.vh25 {
    padding-top: 25vh;
}

.vh20 {
    padding-top: 20vh;
}

.search-wrapper {
    text-align: center;
    margin: 20px auto 5px;
}

.user-cards {
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.card {
    border: 1px solid grey;
    height: 32px;
    width: max-content;
    margin: 2px auto;
    padding: 4px 5px 2px 5px;
    background-color: #f5f5f5;
    font-family: 'Lora', serif;   
    cursor: pointer;
}

.card:hover {
    background-color: white;
}

.center {
    text-align: center;
}

.rounded {
    border-radius: 10px;
}

.searchBox {
    position: relative;
    min-width: 100px;
}

#search {
    border: 1px solid grey;
    border-radius: 10px;
    height: 32px;
    width: 30vw;
    max-width: 500px;
    min-width: 200px;
    margin: 4px 0;
    padding: 2px 12px;
    background-color: #f5f5f5;
}

#orange:hover {
    background-color: rgb(181, 255, 243);
}

#search:hover, #search:focus {
    border: 1.5px solid #009688;
    background-color: white;
}

.hidden {
    display: none;
}

.titleLefted {
    position: absolute;
    top: 6px;
    left: 18px;
}

#title-box {
    margin-bottom: 0;
}

#left-box {
    margin: auto;
}

.subtitleLefted {
    position: absolute;
    top: 90px;
    left: 20px
}

.searchRighted {
    position: absolute;
    top: 0;
    right: 30px;
}

.deckboxRighted {
    position: relative;
    right: 50px;
}

.boxSquished {
    height: 1px;
}

#deckbox { /* container for the search results */
    position: relative;
    float: none;
    display: flex;
    margin: auto;
    z-index: 1;
    flex-flow: column wrap;
}

.resultsRighted {
    position: absolute;
    top: 110px;
    right: 200px;
}

.webpTitle {
    font-family: 'Cinzel', serif;
    font-size: 72px;
    font-weight: 900;
}

.webpDogQ {
    font-size: 20px;
    padding-top: 10px;
}
.webpText {
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

#error-title {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 2rem;
}

#error-text {
    font-family: 'Lora', serif;
    font-weight: 500;
}

#stats-container {
    margin-bottom: 20px;
}

#sub-images {
    display: flex;
    margin: auto;
    justify-content: space-around;
    max-width: 45vw;
}

.dog-pic {
    height: 250px;
    margin: 3px;
    padding: 3px;
}

#statistics { 
    list-style-type: none;
}

.historyListButton {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

.history-list {
    font-family: 'Lora', serif;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
}

.history-button {
    margin: 2px auto;
}

#clear-history-button {
    position: relative;
    max-width: fit-content;
    margin: 3px auto 10px;
}

#history-list {
    display: flex;
    flex-flow: column wrap;
}

/* Add Media Queries for browser sizes/mobile */

@media only screen and (max-width: 720px) {
    body {
    max-width: 100%;
    }
}