.center {
    text-align: center;
}

.websiteOverlay {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding-top: 30vh;
}

.rounded {
    border-radius: 10px;
}

.searchBox {
    position: relative;
    min-width: 100px;
}

.search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 14px;
    cursor: pointer;
}

.clear-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    cursor: pointer;
    visibility: hidden;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 32px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

.search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
}

.hidden {
    display: none;
}

/* Add Media Queries for browser sizes/mobile */

@media only screen and (max-width: 720px) {
    body {
    max-width: 100%;
}
}

#sub-images {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.maxW {
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.maxH {
    max-height: 200px;
    margin: 5px;
    padding: 5px;
}

.theW {
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.theH {
    height: 200px;
    margin: 5px;
    padding: 5px;
}