.search-wrapper {
    text-align: center;
    margin-top: 150px;
}

.user-cards {
    text-align: center;
    display: column;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.center {
    text-align: center;
}

.websiteOverlay {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding-top: 30vh;
}

.rounded {
    border-radius: 10px;
}

.searchBox {
    position: relative;
    min-width: 100px;
}

.search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 14px;
    cursor: pointer;
}

.clear-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    cursor: pointer;
    visibility: hidden;
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 32px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

.search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
}

.hidden {
    display: none;
}

#sub-images {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.maxW {
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.maxH {
    max-height: 200px;
    margin: 5px;
    padding: 5px;
}

.theW {
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.theH {
    height: 200px;
    margin: 5px;
    padding: 5px;
}

.webpTitle {
    font-family: 'Cinzel', serif;
    font-size: 64px;
    font-weight: 900;
}

.webpSubtitle {
    font-family: 'Playfair Display', serif;
    font-size: 38px;
    font-weight: 500;
}

.webpText {
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

#error-title {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 2rem;
}

#error-text {
    font-family: 'Cinzel', serif;
    font-weight: 500;
}

/* Add Media Queries for browser sizes/mobile */

@media only screen and (max-width: 720px) {
    body {
    max-width: 100%;
    }
}
